html,
body {
  height: 100%;
  width: 100%;
  background-color: #effeff;
}
/* 183D3D dark
  5C8374 blue
  98c1d9 light
*/

/* 183D3D dark
  5C8374  green
  93B1A6 light
*/
.editDelete {
  float: right;
  margin: 3px;
  padding: 3px 10px;
}
#png {
  margin-right: 10px;
}
#form1 {
  border-radius: 10px;
  background-color: #5C8374;
  box-shadow: 4px 4px 9px #183D3D;
  margin: 20px 193px;
}
#table {
  border-radius: 10px;
  background-color: #CBE4DE;
  /* background-image: linear-gradient(to bottom right, #c7e9fd, #5C8374); */
  box-shadow: 4px 4px 9px #b8b8b8;
}
#submitBtn {
  width: 140px;
  background-color: #183D3D;
  border-color: #183D3D;
  color: white;
}
.topBtn {
  background-color: white;
  border-color: white;
  color: #183D3D;
}
#navigation {
  background-color: #183D3D;
}
#categoryBtn {
  background-color: #183D3D;
  width: auto;
  border-radius: 7px;
  border: none;
  color: white;
}
#category {
  width: 300px;
}
.input-group-text {
  background-color: #183D3D;
  color: white;
  border: none;
}
#description {
  width: 2000px;
}

.trStyle {
  background-color: transparent;
}
#categoryBtn:hover,
#submitBtn:hover,
.editDelete:hover {
  background-color: #ffffff;
  color: #183D3D;
  border-color: #183D3D;
}
.topBtn:hover {
  background-color: #5C8374;
  color: white;
  border-color: #5C8374;
}
.editDelete {
  background-color: #183D3D;
  border: none;
}